@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$primary: #fceff9;
$magenta-team: #e20074;

$theme-colors: map-merge(
    $theme-colors,
    (
      "magenta": $magenta-team
    )
);

@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  background: $primary;
  box-sizing: border-box;
}

.custom-card {
  background: darken($primary, 1%);
}
