@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
$primary: #fceff9;
body {
  font-family: "Roboto", sans-serif;
  background: $primary;
  box-sizing: border-box;
}

.custom-card {
  background: darken($primary, 1%);
}
